@import "../settings/variables";

.Achievement {

  flex-basis: 15%;
  margin: 0 0.6rem 1.25rem 0.6rem;

  position: relative;
  flex-flow: column;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all .6s;
  & > * {
    position: absolute;
    top: 0; bottom: 0; right: 0;
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 1.5rem 0.1rem #7e7f7f;
  }
  &:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }

}

.Achievement-content {
  flex-flow: column;
  left: 0;
  z-index: 100;
  p {
    margin: 1rem;
    white-space: nowrap;
    &:first-child {
      align-self: flex-start;
      font-size: 2.2rem;
      font-weight: 100;
    }
    &:last-child {
      font-size: 1rem;
    }
    &.active {
      font-weight: bold;
    }
    img {
      width: 3rem;
    }
  }
}

.Achievement-loader {
  background-color: $base-color;
  width: 70%;
  transition: all 2s;
}

.Achievement-placeholder {
  left: 0;
  background: url("../assets/img/achievement-placeholder.png") no-repeat center #fff;
  background-size: 50%;
}

.Achievement-image {
  left: 0;
  img {
    width: 100%;
  }
}


@media screen and (max-width:1200px) {
  .Achievement {
    flex-basis: 18%;
  }
}
@media screen and (max-width:1000px) {
  .Achievement {
    flex-basis: 22%;
  }
}
@media screen and (max-width:800px) {
  .Achievement {
    flex-basis: 29%;
  }
}
@media screen and (max-width:600px) {
  .Achievement {
    flex-basis: 43%;
  }
}

@media screen and (max-width:400px) {
  .Achievement {
    flex-basis: 80%;
  }
  .Achievement-content {
    p {
      white-space: normal;
      &:first-child {
        font-size: 3rem;
        margin: 1rem 0 0 1rem;
      }
      &:last-child {
        font-size: 1.4rem;
        margin-top: 0;
      }
    }
  }
}