@import "../index";

.Grywalizacja {
  margin-bottom: 2rem;

}

.Grywalizacja-header {
  div {
   .button-default {
      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.Grywalizacja-ranking {
  & > * {
    flex-basis: 24%;
    text-align: left;
    h3 {
      margin: 0;
    }
    span {
      font-size: 1.5rem;
    }
  }
  &.flex {
    justify-content: flex-start;
  }
}

.Achievements,
.Badges {
  &.flex {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

@media screen and (max-width:479px) {
  .Grywalizacja {
    padding: 1rem;
    overflow: hidden;
  }
  .Grywalizacja-header {
    flex-flow: column;
    div {
      label {
        display: block;
      }
      .button-default {
        margin: 1rem 0;
      }
    }
  }
  .Achievements,
  .Badges {
    &.flex {
      justify-content: space-around;
    }
  }
}


