@import "../settings/variables";

//only mobile menu header
.mobile-menu {
  display: none;
  transition: all .6s;
  position: fixed;

  top: 0; right: 0;
  background-color: transparent;
  z-index: 101;
  &.active {
    background-color: $main-color;
    width: 100%;
  }
  .button-default {
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
}

//----------------------

.Header {
  color: #fff;
  background-color: $base-color;
}

.Header-credits {
  & > * {
    margin-right: 1rem;
  }
  img {
    border-radius: 5px;
    max-height: 6rem;
  }
  h2 {
    margin: 0 0 1rem 0;
  }
}

.Header-credits-panel {
  a {
    &:last-child {
      margin-left: 1rem;
    }
  }
  svg {
    width: 2rem;
    &:hover {
      fill: $accent-color;
    }
  }
}

.Header-logout {
  svg {
    height: 3.5rem;
    width: 3.5rem;
    transition: all .6s;
    &:hover {
      fill: $accent-color;
    }
  }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1000px) {
  .mobile-menu {
    display: block;
    height: 4rem;
  }
  .Header {
    position: fixed;
    overflow: hidden;

    top: 4rem; right: 0;
    width: 100vw;
    max-height: 90vh;

    z-index: 101;
    transition: all .6s ease-out;
    .wrapper {
      &.flex {
        flex-flow: column;
      }
    }
    &.mobile {
      right: -120%;
    }
  }
  .Header-credits {
    margin: 1rem 0 0 0;
    img {
      &:first-child {
        display: none;
      }
    }
  }
  .Header-credits-panel {
  }
  .Header-logout {
    margin: 2rem;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 479px) {
}
