.Menu {
  & > * {
    padding: 1rem 1.5rem;
  }
}

.Menu-item {
  transition: all .6s;
  p {
    margin: 0.5rem 0 0 0;
  }
  svg {
    width: 4rem;  height: 4rem;
  }
  &:hover {
    background-color: #000;
  }
}

@media screen and (max-width:479px) {
  .Menu {
    &.flex {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .Menu-item {
    flex-basis: 30%;
    svg {
      width: 3.5rem;  height: 3.5rem;

    }
  }
}
