.Ranking {
  margin: 0.8rem 0 2.5rem 0;

  & > * {
    flex-basis: 24%;
    text-align: left;
    h3 {
      margin: 0;
    }
    span {
      font-size: 1.5rem;
    }
  }
  &.flex {
    justify-content: flex-start;
  }
}