@font-face {
  font-family: "Roboto Condensed";
  src: url(/src/assets/font/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: "Roboto Condensed Light";
  src: url(/src/assets/font/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(/src/assets/font/RobotoCondensed-Bold.ttf);
}